<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="conString" connectionString="Data Source=tokoyy.database.windows.net;Initial Catalog=ERP_INFO;User ID=GD;Password=Goodee12!@" />
    <add name="MiniERP.Properties.Settings.ERP_INFOConnectionString"
      connectionString="Data Source=tokoyy.database.windows.net;Initial Catalog=ERP_INFO;Persist Security Info=True;User ID=GD;Password=Goodee12!@"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>